<main>
    <header>
        <div class="toolbar">
            <a href="./new" class="button">Create new Note</a>
	    {{#if config.layout }}
              <a href="./?layout=" class="button">Style Switcher</a>
	    {{else}}
              <a href="./?layout=blue" class="button">Style Switcher</a>
	    {{/if}}
        </div>
        <div class="toolbar filter">
            <a href="./?orderBy=dueDate" class="button {{#equal config.notes.orderBy 'dueDate'}}active{{/equal}}">By finished Date</a>
            <a href="./?orderBy=createdAt" class="button {{#equal config.notes.orderBy 'createdAt'}}active{{/equal}}">By created Date</a>
            <a href="./?orderBy=rating" class="button {{#equal config.notes.orderBy 'rating'}}active{{/equal}}">By Importance</a>
	    {{#if config.notes.filterBy}}
              <a href="./?filterBy=" class="button active">Alle anzeigen</a>
            {{else}}
              <a href="./?filterBy={finished: true}" class="button">Fertige verbergen</a>
            {{/if}}
        </div>
    </header>
    <section class="content">
        {{#if notes}}
            {{#each notes}}
                <article>
                    <header>
                        <span>{{dueDate}}</span>
                        <span>{{title}}</span>
                        <div class="rating">
                            {{#times rating}}
                                <span class="star"></span>
                            {{/times}}
                        </div>
                    </header>
                    <div>
                        <label>
                            <input type="checkbox" {{#if finished}}checked{{/if}} disabled>
                            <span>Finished</span>
                        </label>
                        <textarea readonly>{{description}}</textarea>
                        <a href="./{{_id}}" class="button">Editieren</a>
                    </div>
                </article>
            {{/each}}
        {{else}}
            <div class="toolbox">
                <p>Keine ToDo's gefuden :(</p>
            </div>
        {{/if}}
    </section>
</main>
